<!-- templates/base_signed_out.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Reset css -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom css -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
    <header id="header" class="outline">
        <div class="breadcrumb">
        </div>
    </header>
     <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
<script>
const header = document.getElementById('header');
 
window.addEventListener('scroll', function() {  
  if (window.scrollY > 0) {
    header.classList.add('shadows-dp-1');
  } else {
    header.classList.remove('shadows-dp-1');
  }
});
 
function toggleClass(element, className){
    if (!element || !className){
        return;
    }
    
    var classString = element.className, nameIndex = classString.indexOf(className);
    if (nameIndex == -1) {
        classString += ' ' + className;
    }
    else {
        classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
    }
    element.className = classString;
}
 
document.getElementById('dropdown-school').addEventListener('click', function() {
    toggleClass(document.getElementById('dropdown-school'), 'open');
});
 
document.getElementById('multiselect-schools').addEventListener('click', function() {
    toggleClass(document.getElementById('multiselect-schools'), 'open');
    document.getElementById('multiselect-profile').classList.remove('open');
});
 
document.getElementById('multiselect-profile').addEventListener('click', function() {
    toggleClass(document.getElementById('multiselect-profile'), 'open');
    document.getElementById('multiselect-schools').classList.remove('open');
});
 
document.getElementById('clear_all').addEventListener('click', function() {
    toggleClass(document.getElementById('notifica-01'), 'clear');
 
    var testElement = document.getElementById('notifica-01');
    if(testElement.classList.contains('hidden') === true){
        toggleClass(document.getElementById('notifica-01'), 'hidden');
    }else{
        var delayInMilliseconds = 250; //1 second
 
        setTimeout(function() {
            toggleClass(document.getElementById('notifica-01'), 'hidden');
        }, delayInMilliseconds);
    }
 
});
 
const FloatLabel = (() => {
  
  // add active class
  const handleFocus = (e) => {
    const target = e.target;
    target.parentNode.classList.add('active');
    //target.setAttribute('placeholder', target.getAttribute('data-placeholder'));
  };
  
  // remove active class
  const handleBlur = (e) => {
    const target = e.target;
    if(!target.value) {
      target.parentNode.classList.remove('active');
    }
    //target.removeAttribute('placeholder');
  };
  
  // register events
  const bindEvents = (element) => {
    const floatField = element.querySelector('input');
    floatField.addEventListener('focus', handleFocus);
    floatField.addEventListener('blur', handleBlur);    
  };
  
  // get DOM elements
  const init = () => {
    const floatContainers = document.querySelectorAll('.input-form');
 
    floatContainers.forEach((element) => {
 
      if (element.querySelector('input').value) {
        element.classList.add('active');
      }
 
      bindEvents(element);
    });
  };
  
  return {
    init: init
  };
})();
 
FloatLabel.init();
</script>
</html>