<!--templates/layout/aside.html-->
<aside class="shadows-dp-1">
        <div class="top-header">
            <h2 class="medium-emphasis">Notification Hub</h2>
            <div>
                <i class="material-icons">more_vert</i>
                <i class="material-icons">clear_all</i>
                <i class="material-icons">close</i>
            </div>
        </div>

        <div class="main">
            <p class="overlive medium-emphasis divider">News</p>

            <div class="notification outline new-notifcation">
                <div>
                    <div class="header">
                            <div>
                                <i class="material-icons">notifications_active</i>
                                <p>notification <span>- 1 day ago</span></p>
                            </div>
                        <i class="material-icons">expand_more</i>
                    </div>
                    <div class="main">
                        <div>
                            <p>App Title here</p>
                            <p class="body2 medium-emphasis">Remember to do someth...</p>
                        </div>
                        <div>
                            <i class="material-icons">arrow_forward</i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="notification outline">    
                <div>
                    <div class="header">
                        <div>
                            <i class="material-icons">notifications_active</i>
                            <p>notification <span>- 1 day ago</span></p>
                        </div>
                        <i class="material-icons">expand_more</i>
                    </div>
                    <div class="main">
                        <div>
                            <p>App Title here</p>
                            <p class="body2 medium-emphasis">Remember to do someth...</p>
                        </div>
                        <div>
                            <i class="material-icons">arrow_forward</i>
                        </div>
                    </div>
                </div>
            </div>

            <p class="overlive medium-emphasis divider">Suggestions</p>
            <div class="notification outline">    
                    <div>
                        <div class="header">
                            <div>
                                <i class="material-icons suggestions">wb_incandescent</i>
                                <p>Suggestions <span>- 1 day ago</span></p>
                            </div>
                            <i class="material-icons">expand_more</i>
                        </div>
                        <div class="main">
                            <div>
                                <p><a href="{{ suggestion.url }}">{{ suggestion.title }}</a></p>
                                <p class="body2 medium-emphasis">Go to another page</p>
                            </div>
                            <div>
                                <i class="material-icons">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </aside>