:root {
    --ist-white-color: #ffffff;
    --ist-blue-color: #31729D;
    --ist-lidt-dark-blue-color: #1F648F; 
    --ist-dark-blue-color: #17567E;
    --ist-gray-color: #F5F5F5;
    --ist-dark-gray-color: #E4E4E4;

    --whith-high-emphasis: rgba(255,255,255,1);
    --whith-medium-emphasis: rgba(255,255,255,0.6);
    --whith-disabled-emphasis: rgba(255,255,255,0.38);

    --black-high-emphasis: rgba(0, 0, 0, 0.87);
    --black-medium-emphasis: rgba(0, 0, 0, 0.6);
    --black-disabled-emphasis: rgba(0,0,0,0.38);

    --icon-black-active: rgba(0, 0, 0, 0.87);
    --icon-black-inactive: rgba(0, 0, 0, 0.54);
    --icon-black-disabled: rgba(0, 0, 0, 0.38);
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--ist-gray-color);
}

/*########################################*/
/*# Preset                               #*/
/*########################################*/
h1{
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.1rem;
    color: var(--black-high-emphasis);
}

h2{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.1rem;
    color: var(--black-high-emphasis);
}

h3{}

h4{
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.1rem;
    color: var(--black-high-emphasis);
}


h5{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.1rem;
    color: var(--black-high-emphasis);
}

h6{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.1rem;
    color: var(--black-high-emphasis);
}

p, a{
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01071em;
    color: var(--black-high-emphasis);
}

a{
    text-decoration: none;
}

p.body2{
    font-size: 1.4rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--black-high-emphasis);
}

i{
    color: var(--black-medium-emphasis);
}

.overlive{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1.medium-emphasis, h2.medium-emphasis, h3.medium-emphasis, h4.medium-emphasis, h5.medium-emphasis, h6.medium-emphasis,
p.medium-emphasis, a.medium-emphasis, span.medium-emphasis{
    color: var(--black-medium-emphasis);
}
/*########################################*/
/*# Container                            #*/
/*########################################*/
.container{}

.divider{
    width: 100%;
    height: 20px;
    margin-top: 2.4rem;
    padding: 0 0 0 1rem;
}

/*########################################*/
/*# Button                               #*/
/*########################################*/
.btn{
    padding: 1rem 1.6rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    border-radius: 4px;
}

.btn.btn-primary{
    color:var(--whith-high-emphasis);
    background: var(--ist-blue-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.btn.btn-primary:hover{
    background: var(--ist-dark-blue-color);
}

.btn.btn-secondary{
    color:var(--black-high-emphasis);
    background: transparent;
    border: 1px solid var(--ist-dark-gray-color);
}

.btn.btn-secondary:hover{
    background: var(--ist-white-color);
    border-color:var(--ist-white-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.btn.btn-text{
    color:var(--ist-blue-color);
    background: transparent;
}

.btn.btn-text:hover{
    background: var(--ist-white-color);
    border-color:var(--ist-white-color);
}

/*########################################*/
/*# Multiselect                          #*/
/*########################################*/
.multiselect{
    position: relative;
    padding: 0 1.6rem;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 2rem 0 0;
    height: 40px;
    line-height: 1rem;
}

#multiselect-profile.multiselect{
    position: relative;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
    margin: 0;
    line-height: 0;
    height: auto;
    border: 5px solid var(--ist-white-color);
}

.multiselect:hover, .multiselect.open{
    background: var(--ist-gray-color);
}

.multiselect > p i{
    font-size: 1.6rem;
    line-height: 1rem;
}

#multiselect-profile.multiselect:hover, #multiselect-profile.multiselect.open{
    background: transparent;
    border: 5px solid var(--ist-gray-color);
}

.multiselect ul{
    opacity: 0;
    pointer-events: none;
    background: var(--ist-white-color);
    border:1px solid var(--ist-dark-gray-color);
    border-radius: 4px;
    padding: 1.6rem 0.8rem;
    position: absolute;
    top:40px;
    z-index: 999;
    min-width: 20rem;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    transition: 250ms all ease;
}

#multiselect-profile.multiselect ul{
right: 0;
}


.multiselect.open ul{
    opacity: 1;
    pointer-events: all;
}

.multiselect ul li{
    font-size: 1.6rem;
    padding: 0.8rem 0.8rem;
    border-radius: 4px;
    line-height: normal;
}

.multiselect ul li:hover{
    background: var(--ist-gray-color);
}

.multiselect ul li:active{
    background: var(--ist-dark-gray-color);
}

/*########################################*/
/*# Form / Input                         #*/
/*########################################*/
.form-center{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    width: 600px;
    background: var(--ist-white-color);
    border:1px solid var(--ist-dark-gray-color);
    padding: 1.6rem;
}

.input-form{
    border-radius: 4px;
    background: var(--whith-high-emphasis);
    border:1px solid var(--ist-dark-gray-color);
    display: flex;
    position: relative;
    width: 100%;
    margin: 1.6rem 0 0 0;
}

.form-btn{
    margin-top:1.6rem;
}

.form-btn .btn{
    margin-right:1.6rem;
}

.input-form label{
    font-size: 1.6rem;
    position: absolute;
    left: 1.6rem;
    top:1.8rem;
    transition: 250ms all ease;
}

.input-form input:focus + label, .input-form.active label{
    font-size: 1.2rem;
    position: absolute;
    left: 1.6rem;
    top:0.8rem;
}

.input-form.active label{
    color:var(--black-medium-emphasis);
}

.input-form > input{
    width: 100%;
    font-size: 1.6rem;
    padding: 2.2rem 1.6rem 1rem 1.6rem;
    border:none;
    border-radius: 4px;
}


/*########################################*/
/*# Header                               #*/
/*########################################*/
header{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--ist-white-color);
    z-index: 3;
    padding: 0 40px 0 296px;
    transition: 250ms box-shadow ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.breadcrumb{
    display: flex;
    align-items: center;
}

header div.breadcrumb a, header div.breadcrumb i{
    padding: 0 1rem 0 0;
}

header div i.active, header div:last-child i:hover{
    color: var(--black-high-emphasis);
}

header div p.text{
    margin: 0 2rem 0 0;
}

header div:nth-child(2){
    display: flex;
    align-items: center;
}

header div:nth-child(2) a{
    padding: 0 4rem 0 0;
}

header div a h6{
    color:var(--black-medium-emphasis);
}

header div a h6:hover{
    color:var(--black-high-emphasis);
}

header div a:last-child h6{
    color:var(--black-high-emphasis);
}

header .profile{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
}

/*########################################*/
/*# Nav                                  #*/
/*########################################*/
nav{
    width: 256px;
    height: 100%;
    background-color: var(--ist-blue-color);
    background-image: url(../images/diamond-pattern.png);
    background-position: bottom;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    padding: 0 1rem;
    
}
nav .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}

nav .header h2{
    font-size: 2rem;
    color: var(--ist-white-color);
    padding: 0 0 0 1rem;
}

nav ul li{
    padding: 0.5rem 2.5rem;
    margin: 0 0 1rem 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
/*########################################*/
/*# Nav Dropdown                         #*/
/*########################################*/
nav ul li.dropdown{
    padding: 0.5rem 1rem 0.5rem 0;
}

nav ul li.active{
    background: var(--ist-dark-blue-color);
}

nav ul li:hover{
    background: var(--ist-lidt-dark-blue-color);
}

nav ul li a{
    color: var(--ist-white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

nav ul li i, nav ul li a i, nav i{
    color: var(--whith-high-emphasis);
}

nav ul li a i{
    text-decoration: none;
    margin: 0 1rem 0 0 ;
}

nav ul li i{
    transition: 250ms transform ease;
}

nav ul li i.arrow_dropdown{
    margin: 0;
    color: var(--whith-medium-emphasis);
}

nav ul li:hover i.arrow_dropdown{
    color: var(--whith-high-emphasis);
}


nav ul li.open i.arrow_dropdown{
    transform: rotate(90deg);
    margin: 0;
}

nav ul li.dropdown{
    position: relative;
}

nav ul li.open{
    background: var(--ist-lidt-dark-blue-color);
    flex-direction: column;
    align-items: start;
}


nav ul li.dropdown ul{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    flex-flow: column;
    left: 0;
    top: 100%;
    width: 100%;
}

nav ul li.open ul{
    position: relative;
    opacity: 1;
    pointer-events: all;
    margin: 2.4rem 0 0 0;
}

nav ul li ul li{
    color: var(--ist-white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
    margin: 0 0 1rem 0.8rem;
}

nav ul li.active{
    background: var(--ist-lidt-dark-blue-color);
    flex-direction: column;
    align-items: start;
}

nav ul li ul li.active, nav ul li ul li:hover{
    background: var(--ist-dark-blue-color);
}
/*########################################*/
/*# Aside                                #*/
/*########################################*/
aside{
    width: 256px;
    height: 100%;
    background-color: var(--ist-white-color);
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 2;
}

aside .notification{
    padding: 0 1.6rem;
    margin: -1px 0 0px 0;
    transition: 150ms all ease;
}

aside .notification:hover, aside .notification.new-notifcation:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

aside div.top-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--ist-dark-gray-color);
    padding: 1rem 1rem 0.5rem 1rem;
}

aside div.main{
    padding: 0;
}

aside .main .notification div.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .main .notification div.header div i.suggestions {
    transform: rotate(180deg);
}

aside .main .notification div.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .main .notification div.header div{
    display: flex;
    align-items: center;
}

aside .main .notification div.header div i{
    margin: 0 1rem 0 0;
}

aside .main .notification div.header i{
    font-size: 16px;
}
aside .main .notification div.main i.icon-right{
    transform: rotate(180deg);
}


aside .main .notification div.header p{
    font-size: 12px;
}

aside .main .notification div.main p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0 0 1rem 0;
}

aside .main .notification.new-notifcation{
    border-left: 4px solid var(--ist-blue-color);
}

aside .main .notification.new-notifcation div.header i:first-child{
    color: var(--ist-blue-color);
}

aside .main .notification.new-notifcation.clear{
    transform: translate(256px);
}

aside .main .notification.new-notifcation.hidden{
    position: absolute;
}



/*########################################*/
/*# Aside                                #*/
/*########################################*/
main{
    width: 100%;
    height: 2000px;
    padding: 89px 296px 0 296px;
    box-sizing: border-box;
}



/*########################################*/
/*# Shadows                              #*/
/*########################################*/
.shadows-dp-1{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.shadows-dp-8{
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

.shadows-dp-24{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}

/*########################################*/
/*# Outline                              #*/
/*########################################*/
.outline{
   border: 1px solid;
   border-color: var(--ist-dark-gray-color);
}

/*########################################*/
/*# Table                                #*/
/*########################################*/
table{
    background: var(--ist-white-color);
    border: 1px solid;
    border-color: var(--ist-dark-gray-color);
}

table tr td, table tr th{
    border-top: 1px solid var(--ist-dark-gray-color);
    padding: 1.6rem 1.6rem;
}

table tr td{
    color: var(--black-high-emphasis);
    font-size: 1.6rem;
}

table tr:hover{
    background: var(--ist-dark-gray-color);
}

table tr.table-head:hover{
    background: transparent;
}

table tr th{
    color: var(--black-medium-emphasis);
    font-size: 1.4rem;
}