:root {
    --ist-white-color: #ffffff;
    --ist-blue-color: #31729D;
    --ist-lidt-dark-blue-color: #1F648F; 
    --ist-dark-blue-color: #17567E;
    --ist-gray-color: #F5F5F5;
    --ist-dark-gray-color: #E4E4E4;

    --whith-high-emphasis: rgba(255,255,255,1);
    --whith-medium-emphasis: rgba(255,255,255,0.6);
    --whith-disabled-emphasis: rgba(255,255,255,0.38);

    --blac-high-emphasis: rgba(0, 0, 0, 0.87);
    --black-medium-emphasis: rgba(0, 0, 0, 0.6);
    --black-disabled-emphasis: rgba(0,0,0,0.38);

    --icon-black-active: rgba(0, 0, 0, 0.87);
    --icon-black-inactive: rgba(0, 0, 0, 0.54);
    --icon-black-disabled: rgba(0, 0, 0, 0.38);
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--ist-gray-color);
}

/*########################################*/
/*# Preset                               #*/
/*########################################*/
h1{
    font-size: 2.4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    color: var(--black-high-emphasis);
}

h2{
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    color: var(--black-high-emphasis);
}

h3{}

h4{}

h5{
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    color: var(--black-high-emphasis);
}

h6{
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    color: var(--black-high-emphasis);
}

p, a{
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01071em;
    color: var(--black-high-emphasis);
}

a{
    text-decoration: none;
}

p.body2{
    font-size: 1.4rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--black-high-emphasis);
}

i{
    color: var(--black-medium-emphasis);
}

.overlive{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1.medium-emphasis, h2.medium-emphasis, h3.medium-emphasis, h4.medium-emphasis, h5.medium-emphasis, h6.medium-emphasis,
p.medium-emphasis, a.medium-emphasis, span.medium-emphasis{
    color: var(--black-medium-emphasis);
}
/*########################################*/
/*# Container                            #*/
/*########################################*/
.container{}

.divider{
    width: 100%;
    height: 20px;
    margin-top: 2.4rem;
    padding: 0 0 0 1rem;
}
/*########################################*/
/*# Header                               #*/
/*########################################*/
header{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--ist-white-color);
    z-index: 2;
    padding: 0 40px 0 296px;
    transition: 250ms box-shadow ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.breadcrumb{
    display: flex;
    align-items: center;
}

header div.breadcrumb a, header div.breadcrumb i{
    padding: 0 1rem 0 0;
}

header div:nth-child(2){
    display: flex;
    align-items: center;
}

header div:nth-child(2) a{
    padding: 0 4rem 0 0;
}

header .profile{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
}

/*########################################*/
/*# Nav                                  #*/
/*########################################*/
nav{
    width: 256px;
    height: 100%;
    background-color: var(--ist-blue-color);
    background-image: url(../images/diamond-pattern.png);
    background-position: bottom;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 0 1rem;
    
}
nav .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}

nav .header h2{
    font-size: 2rem;
    color: var(--ist-white-color);
    padding: 0 0 0 1rem;
}

nav ul li{
    padding: 0.5rem 2.5rem;
    margin: 0 0 1rem 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

nav ul li.dropdown{
    padding: 0.5rem 1rem 1rem 0;
}

nav ul li.active{
    background: var(--ist-dark-blue-color);
}

nav ul li:hover{
    background: var(--ist-lidt-dark-blue-color);
}

nav ul li a{
    color: var(--ist-white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

nav ul li i, nav ul li a i, nav i{
    color: var(--whith-high-emphasis);
}

nav ul li a i{
    text-decoration: none;
    margin: 0 1rem 0 0 ;
}

nav ul li i{
    transition: 250ms transform ease;
}

nav ul li i.arrow_dropdown{
    margin: 0;
    color: var(--whith-medium-emphasis);
}

nav ul li:hover i.arrow_dropdown{
    color: var(--whith-high-emphasis);
}


nav ul li.open i.arrow_dropdown{
    transform: rotate(90deg);
    margin: 0;
}

nav ul li.dropdown{
    position: relative;
}

nav ul li.open{
    flex-direction: column;
    align-items: start;
}


nav ul li.dropdown ul{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    flex-flow: column;
    left: 0;
    top: 100%;
    width: 100%;
}

nav ul li.open ul{
    position: relative;
    opacity: 1;
    pointer-events: all;
    margin: 20px 0 0 0;
}

nav ul li ul li{
    color: var(--ist-white-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
/*########################################*/
/*# Aside                                #*/
/*########################################*/
aside{
    width: 256px;
    height: 100%;
    background-color: var(--ist-white-color);
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 3;
}

aside .notification{
    padding: 0 1.6rem;
    margin: 0 0 1px 0;
    transition: 150ms all ease;
}

aside .notification:hover, aside .notification.new-notifcation:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

aside div.top-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--ist-dark-gray-color);
    padding: 1rem 1rem 0.5rem 1rem;
}

aside div.main{
    padding: 0;
}

aside .main .notification div.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .main .notification div.header div i.suggestions {
    transform: rotate(180deg);
}

aside .main .notification div.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .main .notification div.header div{
    display: flex;
    align-items: center;
}

aside .main .notification div.header div i{
    margin: 0 1rem 0 0;
}

aside .main .notification div.header i{
    font-size: 16px;
}

aside .main .notification div.header p{
    font-size: 12px;
}

aside .main .notification div.main p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0 0 1rem 0;
}


aside .main .notification.new-notifcation{
    border-left: 4px solid var(--ist-blue-color);
}

aside .main .notification.new-notifcation div.header i:first-child{
    color: var(--ist-blue-color);
}

/*########################################*/
/*# Aside                                #*/
/*########################################*/
main{
    width: 100%;
    height: 2000px;
    padding: 89px 296px 0 296px;
    box-sizing: border-box;
}



/*########################################*/
/*# Shadows                              #*/
/*########################################*/
.shadows-dp-1{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.shadows-dp-24{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}

/*########################################*/
/*# Outline                              #*/
/*########################################*/
.outline{
   border: 1px solid;
   border-color: var(--ist-dark-gray-color);
}