<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <header id="header" class="outline">
        <div class="breadcrumb">
            <a href=""><i class="material-icons">keyboard_backspace</i></a>
            <a href=""><h6>Main</h6></a>
            <i class="material-icons">keyboard_arrow_right</i>
            <a href=""><h6>Main</h6></a>
        </div>

        <div>
            <a href="">School name</a>
            <a href=""><i class="material-icons">search</i></a>
            <a href=""><i class="material-icons">notifications</i></a>
            <img class="profile" src="https://randomuser.me/api/portraits/women/68.jpg" alt="">
        </div>
    </header>
       <h1> Hi {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">logout</a></p>
        <nav class="shadows-dp-1">
        <div class="container">
            <div class="header">
                <h2>IST App Name</h2>
                <a href="#"><i class="material-icons">menu</i></a>
            </div>

            <ul>
                <li class="active">
                    <a href={% url 'home' %}><i class="material-icons">home</i> Home</a>
                </li>
                <li>
                    <a href=""><i class="material-icons">people</i>  Classes</a>
                </li>
                <li id="dropdown-school" class="dropdown">
                    
                    <a href="http://127.0.0.1:8000/school">
                        <i class="material-icons arrow_dropdown">arrow_right</i>
                        <i class="material-icons">school</i> 
                        School
                    </a>
                    <ul class="drop-menu">
                        <li> <a href="http://127.0.0.1:8000/school/students">Students</a></li>
                        <li> <a href="http://127.0.0.1:8000/school/reports">Reports</a></li>
                        <li> <a href="http://127.0.0.1:8000/school/groups">Groups</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="material-icons">equalizer</i> Statistics</a>
                </li>
            </ul>
        </div>
    </nav> <!-- End Nav-->
 <aside class="shadows-dp-1">
        <div class="top-header">
            <h2 class="medium-emphasis">Notification Hub</h2>
            <div>
                <i class="material-icons">more_vert</i>
                <i class="material-icons">clear_all</i>
                <i class="material-icons">close</i>
            </div>
        </div>

        <div class="main">
            <p class="overlive medium-emphasis divider">News</p>

            <div class="notification outline new-notifcation">
                <div>
                    <div class="header">
                            <div>
                                <i class="material-icons">notifications_active</i>
                                <p>notification <span>- 1 day ago</span></p>
                            </div>
                        <i class="material-icons">expand_more</i>
                    </div>
                    <div class="main">
                        <div>
                            <p>App Title here</p>
                            <p class="body2 medium-emphasis">Remember to do someth...</p>
                        </div>
                        <div>
                            <i class="material-icons">arrow_forward</i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="notification outline">    
                <div>
                    <div class="header">
                        <div>
                            <i class="material-icons">notifications_active</i>
                            <p>notification <span>- 1 day ago</span></p>
                        </div>
                        <i class="material-icons">expand_more</i>
                    </div>
                    <div class="main">
                        <div>
                            <p>App Title here</p>
                            <p class="body2 medium-emphasis">Remember to do someth...</p>
                        </div>
                        <div>
                            <i class="material-icons">arrow_forward</i>
                        </div>
                    </div>
                </div>
            </div>

            <p class="overlive medium-emphasis divider">Suggestions</p>
            <div class="notification outline">    
                    <div>
                        <div class="header">
                            <div>
                                <i class="material-icons suggestions">wb_incandescent</i>
                                <p>Suggestions <span>- 1 day ago</span></p>
                            </div>
                            <i class="material-icons">expand_more</i>
                        </div>
                        <div class="main">
                            <div>
                                <p><a href="{{ suggestion.url }}">{{ suggestion.title }}</a></p>
                                <p class="body2 medium-emphasis">Go to another page</p>
                            </div>
                            <div>
                                <i class="material-icons">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </aside>
    {% block sub_content%}
    {% endblock %}
    {% else %}
        <p>You are not logged in</p>
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        <a class="btn btn-secondary" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
{% endblock %}


